USE [DW_COMERCIAL]
GO
/****** Object:  Table [dbo].[DIM_CATEGORIA]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CATEGORIA](
	[CATEGORIA_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_CATEGORIA] [varchar](500) NULL,
	[DESC_CATEGORIA] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORIA_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CLIENTE]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[CLIENTE_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_CLIENTE] [varchar](500) NULL,
	[NOMBRE] [varchar](500) NULL,
	[APELLIDO] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIENTE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PAIS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PAIS](
	[PAIS_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAIS] [varchar](3) NULL,
	[DESC_PAIS] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PAIS_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCTO]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCTO](
	[PRODUCTO_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_PRODUCTO] [varchar](500) NULL,
	[DESC_PRODUCTO] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTO_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DIM_SUCURSAL]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SUCURSAL](
	[SUCURSAL_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_SUCURSAL] [varchar](500) NULL,
	[DESC_SUCURSAL] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUCURSAL_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIEMPO]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIEMPO](
	[TIEMPO_KEY] [smalldatetime] NOT NULL,
	[ANIO] [int] NULL,
	[MES_NRO] [int] NULL,
	[MES_NOMBRE] [varchar](15) NULL,
	[SEMESTRE] [int] NULL,
	[TRIMESTRE] [int] NULL,
	[SEMANA_ANIO] [int] NULL,
	[SEMANA_NRO_MES] [int] NULL,
	[DIA] [int] NULL,
	[DIA_NOMBRE] [varchar](20) NULL,
	[DIA_SEMANA_NRO] [int] NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIEMPO_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_VENDEDOR]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_VENDEDOR](
	[VENDEDOR_KEY] [int] IDENTITY(1,1) NOT NULL,
	[COD_VENDEDOR] [int] NULL,
	[NOMBRE] [varchar](500) NULL,
	[APELLIDO] [varchar](500) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL,
	[FECHA_UPDATE] [datetime] NULL,
	[USUARIO_UPDATE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[VENDEDOR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_VENTAS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_VENTAS](
	[PRODUCTO_KEY] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA_KEY] [int] NOT NULL,
	[CLIENTE_KEY] [int] NULL,
	[PAIS_KEY] [int] NULL,
	[VENDEDOR_KEY] [int] NOT NULL,
	[SUCURSAL_KEY] [int] NULL,
	[TIEMPO_KEY] [smalldatetime] NOT NULL,
	[CANTIDAD_VENDIDA] [decimal](18, 2) NULL,
	[MONTO_VENDIDO] [decimal](18, 2) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[COMISION_COMERCIAL] [decimal](18, 2) NULL,
	[FECHA_ALTA] [datetime] NULL,
	[USUARIO_ALTA] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_CATEGORIA]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_CATEGORIA](
	[COD_CATEGORIA] [varchar](500) NULL,
	[DESC_CATEGORIA] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_CLIENTE]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_CLIENTE](
	[COD_CLIENTE] [varchar](500) NULL,
	[NOMBRE] [varchar](500) NULL,
	[APELLIDO] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_PAIS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_PAIS](
	[COD_PAIS] [varchar](3) NULL,
	[DESC_PAIS] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_PRODUCTO]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_PRODUCTO](
	[COD_PRODUCTO] [varchar](500) NULL,
	[DESC_PRODUCTO] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_SUCURSAL]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_SUCURSAL](
	[COD_SUCURSAL] [varchar](500) NULL,
	[DESC_SUCURSAL] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_DIM_VENDEDOR]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_DIM_VENDEDOR](
	[COD_VENDEDOR] [varchar](500) NULL,
	[NOMBRE] [varchar](500) NULL,
	[APELLIDO] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INT_FACT_VENTAS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INT_FACT_VENTAS](
	[COD_PRODUCTO] [varchar](100) NULL,
	[COD_CATEGORIA] [varchar](100) NULL,
	[COD_CLIENTE] [varchar](100) NULL,
	[COD_PAIS] [varchar](100) NULL,
	[COD_VENDEDOR] [varchar](100) NULL,
	[COD_SUCURSAL] [varchar](100) NULL,
	[Fecha] [smalldatetime] NULL,
	[CANTIDAD_VENDIDA] [decimal](18, 2) NULL,
	[MONTO_VENDIDO] [decimal](18, 2) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[COMISION_COMERCIAL] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_CATEGORIA]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_DIM_CATEGORIA](
	[DESC_CATEGORIA] [varchar](500) NULL,
	[COD_CATEGORIA] [varchar](500) NULL
	
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_CLIENTE]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE TABLE [dbo].[STG_DIM_CLIENTE](	
	[DESC_CLIENTE] [varchar](500) NULL,
	[COD_CLIENTE] [varchar](500) NULL
	) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_PAIS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_DIM_PAIS](
	[DESC_PAIS] [varchar](500) NULL,
	[COD_PAIS] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_PRODUCTO]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_DIM_PRODUCTO](
	[DESC_PRODUCTO] [varchar](500) NULL,
	[COD_PRODUCTO] [varchar](500) NULL

) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_SUCURSAL]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_DIM_SUCURSAL](
	[DESC_SUCURSAL] [varchar](500) NULL,
	[COD_SUCURSAL] [varchar](500) NULL

) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_DIM_VENDEDOR]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_DIM_VENDEDOR](
	[DESC_VENDEDOR] [varchar](500) NULL,
	[COD_VENDEDOR] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STG_FACT_VENTAS]    Script Date: 4/4/2023 23:17:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_FACT_VENTAS](
	[COD_PRODUCTO] [varchar](500) NULL,
	[COD_CATEGORIA] [varchar](500) NULL,
	[COD_CLIENTE] [varchar](500) NULL,
	[COD_PAIS] [varchar](500) NULL,
	[COD_VENDEDOR] [varchar](500) NULL,
	[COD_SUCURSAL] [varchar](500) NULL,
	[FECHA] [varchar](500) NULL,
	[CANTIDAD_VENDIDA] [varchar](500) NULL,
	[MONTO_VENDIDO] [varchar](500) NULL,
	[PRECIO] [varchar](500) NULL,
	[COMISION_COMERCIAL] [varchar](500) NULL
) ON [PRIMARY]
GO